
/********************** PROJECTS **********************/
.sectionProjects1 {
	display: flex;
	flex-direction: column;
	margin: 6% 2.5% 4% 2.5%;
	h1 {
		font-size: $fontSize-title;
		font-weight: bold;
	}
	p {
		font-size: $fontSize-text;
		width: 42%;
	}
	button {
		@include buttonHero;
	}
}
.sectionProjects2 {
	display: grid;
	grid-template-columns: 24% 19% 7% 1% 20% 1% 5% 6% 17%;
	grid-template-rows: 26% 8% 2% 5% 22% 6% 7% 12% 2% 2% 17%;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	margin: 2% 2% 18% 2%;
}
.allProjectsContainer1 {
	grid-area: 1 / 2 / 4 / 4;
	p {
		margin-top: 1%;
		font-size: $fontSize-text;
	}
}
.allProjectsContainer2 {
	grid-area: 1 / 5 / 2 / 8;
	p {
		margin-top: 1%;
		font-size: $fontSize-text;
	}
}
.allProjectsContainer3 {
	grid-area: 5 / 1 / 7 / 2;
	p {
		margin-top: 1%;
		font-size: $fontSize-text;
	}
}
.allProjectsContainer4 {
	grid-area: 6 / 5 / 10 / 6;
	p {
		margin-top: 1%;
		font-size: $fontSize-text;
	}
}
.allProjectsContainer5 {
	grid-area: 3 / 7 / 8 / 10;
	p {
		margin-top: 1%;
		font-size: $fontSize-text;
	}
}
.allProjectsContainer6 {
	grid-area: 9 / 1 / 12 / 3;
	p {
		margin-top: 1%;
		font-size: $fontSize-text;
	}
}
.allProjectsContainer7 {
	grid-area: 11 / 9 / 12 / 10;
	p {
		margin-top: 1%;
		font-size: $fontSize-text;
	}
}
.projectImg1 {
	@include adjustImage;
}
.projectImg2 {
	@include adjustImage;
}
.projectImg3 {
	@include adjustImage;
}
.projectImg4 {
	@include adjustImage;
}
.projectImg5 {
	@include adjustImage;
}
.projectImg6 {
	@include adjustImage;
}
.projectImg7 {
	@include adjustImage;
}
.sectionProjects3 {
	p {
		margin: 1% 0% 0% 3%;
		font-size: $fontSize-text;
		width: 60%;
	}
	.quote {
		margin: 20% 0% 0% 3%;
	}
}