$fontSize-title: 5rem;
$fontSize-subtitle: 2.5rem;
$fontSize-text: 1.125rem;


$fontSize-titleMedia: 4rem;
$fontSize-subtitleMedia: 2rem;
$fontSize-textMedia: 1.1rem;
$fontSize-textMediaProj: 1rem;