@mixin buttonIndexProj {
    position: absolute;
    left: 59.5%;
    bottom: 0.7%;
    padding: 0.25%;
    width: 12%;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    font-weight: bold;
}